################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LiveSplit.SteamWorldDig/v14
/bin
/obj
/LiveSplit.SteamWorldDig.csproj.user
